@media screen and (max-width: 640px){
    /* ***************GENERAL*************** */
    h1{
        font-size: 6vw;
    }

    h2{
        font-size: 4.8vw;
        text-align: center;
    }
    
    /* ***************HEADER*************** */
    header #navbar{
        padding: 3%;
        margin-bottom: 40px;
    }

    header #navbar #nav-content #popcorn{
        width: 13vw;
    }

    header #navbar #nav-content #cineclick{
        font-size: 5vw;
    }

    header #navbar #socials{ /*             MENU BURGER            */
        display: none;
    }
    
    header #navbar .menu-burger, header #navbar .close{
        display: block;
    }

    header #navbar .menu-burger .fa-bars, header #navbar .fa-xmark{
        cursor: pointer;
    }

    /* ***************MAIN*************** */
    main.center{
        margin-top: 56%;
        margin-bottom: 56%;
    }

    main #titre{
        gap: 2vw;
        min-width: 300px;
        padding-top: 4vw;
        padding-bottom: 2vw;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    /* ***************CONTENU LISTES*************** */
    main .contenu{
        min-width: 300px;
    }

    main .contenu .recap{
        gap: 6px;
        font-size: 11px;
        padding: 3vw;
    }

    main .contenu .recap button{
        font-size: 11px;
    }

    main .contenu table{
        font-size: 13px;
        box-sizing: border-box;
        text-align: left;
        border: 0;
    }

    main .contenu table, main .contenu table thead, main .contenu table tr, main .contenu table tbody, main .contenu table td{
        display: block;
    }

    main .contenu table thead{
        display: none;
    }

    main .contenu table td{
        padding-left: 130px;
        position: relative;
        height: 40px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: space-around;
        justify-content: center;
        width: 100%;
    }

    main .contenu table td::before{ /* ::before crée un pseudo-élément qui sera le premier enfant de l'élément ciblé */
        padding-left: 10px;
        content: attr(name); /* ici, contenu du pseudo élément */
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100px;
        height: 40px;
        background-color: white;
        color: black;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: space-around;
        font-weight: bold;
        text-transform: uppercase;
    }

    main .contenu table tr{
        margin-bottom: 5%;
    }
    
    /* ***************CONTENU DETAILS*************** */
    main .contenu .details ul{
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    main .contenu .details li{
        gap: 8px;
    }
    
    main .contenu .details{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
    }

    main .contenu .details.emptyImg{
        padding: 2.5vw;
    }

    main .contenu .details img{
        width: 90%;
        padding: 5.5vw;
    }

    /* ***************CONTENU DETAILS FILMS*************** */
    main .contenu .details #detailFilms{
        padding-left: 2vw;
        width: 90%;
        text-align: start;
    }

    main .contenu .details #detailFilms ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    /* ***************CONTENU DETAILS GENRES*************** */
    main .contenu.genre{
        display: flex;
    }

    main .contenu .details.genres{
        padding: 7vw 0 1vw 5vw;
        margin-bottom: -30px;
        align-items: flex-start;
    }
    
    /* ***************CONTENU DETAILS ACTEURS*************** */
    main .contenu .details.acteurs{
        padding: 2.5vw 0 0 4vw;
        align-items: flex-start;
    }
    main .contenu .details.acteurs #detailActeurs{
        text-align: start;
    }
    
    /* ***************CONTENU DETAILS ROLES*************** */
    main .contenu .details.roles{
        padding: 4vw 0 0 0;
        align-items: flex-start;
    }

    /* ***************CONTENU DETAILS REALISATEURS*************** */
    main .contenu .details.realisateurs{
        padding: 3vw 0 0 5vw;
        align-items: flex-start;
    }

    /* ***************CONTENU FORM************** */
    main .contenu.space{
        padding: 2.5vw 0 2vw 0;
    }

    main .contenu form{
        min-width: 200px;
    }

    main .contenu form .formulaire{
        padding: 3vw 2vw 4.5vw 2vw;
        flex-wrap: wrap;
        align-content: center;
    }

    main .contenu form .formulaire .box p{
        height: 6vh;
        gap: 20px;
    }

    main .contenu form .formulaire label{
        font-size: 12px;
    }

    main .contenu form .formulaire label .input.file{
        opacity: 0;
        max-width: 231px;
        cursor: pointer;
    }

    main .contenu form .formulaire label span .newInput{
        border: none;
        border-bottom: 1px solid black;
        color: var(--red);
        font-size: 20px;
        text-transform: none;
    }

    main .contenu form .submitBtn{
        position: relative;
        left: -8px;
        padding: 6%;
    }

    /* ***************FOOTER*************** */
    footer{
        font-size: 12px;
        padding: 4% 2% 4% 2%;
    }

    footer.footer{
        margin-top: 5%;
    }

    /* ***************SCROLL*************** */
    .fa-arrow-up{
        bottom: 35px;
        right: 5px;
    }

    /* ***************MENU BURGER*************** */
}